
<p>
  <strong>Title:</strong>
   Rail is awesome 
</p>
 
<p>
  <strong>Text:</strong>
  it really is 
</p>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
 
<%= link_to 'Back', articles_path %>
